{% extends 'base.html' %}
{% block title %}Article{% endblock title %}

{% block content %}
    <h1>Create Article</h1>
    <div class="list">
        <div class="cards">
            {% for article in article_list %}
            <div class="card" style="width: 70%">
                <div class="card-body">
                    <h3 class="card-title text-dark">Title: {{ article.title }}</h3>
                    <p>{{article.body|truncatechars:30}}</p>
                    <p>{{ article.author}}</p>
                    <a class="btn btn-primary" href="{% url 'article_detail' article.id %}">View</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}